.container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  height: 500px;
  width: 500px;
  /*the line below centers the container*/
  margin: 0 auto;
  background-color: rgba(255,255,255,.5);
  text-align: center;

}
.word {
  border: 1px solid black;
  padding-top: 50px;
}
body{
	background-color: #f4d442;
	font-family: 'Indie Flower', cursive;
	
}